:root {

  /* TIPOGRAFIA */
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* PALETA GLOBAL */
  --bg-main: #0F172A;
  --bg-surface: #1E293B;
  --bg-input: #0F172A;

  --text-main: #F8FAFC;
  --text-secondary: #94A3B8;

  --accent: #3B82F6;
  --accent-hover: #2563EB;

  --border: #334155;

  color: var(--text-main);
  background-color: var(--bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* BODY */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg-main);
  color: var(--text-main);
}


/* LINKS */
a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--accent-hover);
}


/* TITULOS */
h1 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
}


/* BOTONES GLOBALES */
button {
  border-radius: 8px;
  border: none;

  padding: 10px 18px;

  font-size: 14px;
  font-weight: 500;
  font-family: inherit;

  background-color: var(--accent);
  color: white;

  cursor: pointer;

  transition: all 0.2s ease;
}

button:hover {
  background-color: var(--accent-hover);
  transform: translateY(-1px);
}

button:active {
  transform: translateY(0);
}


/* INPUTS GENERALES */
input,
select,
textarea {
  background: var(--bg-input);
  border: 1px solid var(--border);
  border-radius: 8px;

  padding: 10px 12px;

  color: var(--text-main);
  font-size: 14px;
}

input::placeholder {
  color: var(--text-secondary);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 0 2px rgba(59,130,246,0.2);
}